<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD de Funcionários</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div>
        <p>By: Julião LB JLB-101 | deixe estrelas nos repositorios</p>
        <p> <a href="https://github.com/JLB-101/">GitHub: JLB-101</a> </p>
        <a href="http://"></a>
        <h1>Cadastre Funcionários</h1>
        <p>Insira novos Funcionários --- | ---
            <a href="/index-datas">Ver Funcionários</a></p>
    </div>
    <div>
        <form action="/adicionar" method="POST">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required><br>
            <label for="localizacao">Localização:</label>
            <input type="text" id="localizacao" name="localizacao" required><br>
            <label for="cargo">Cargo:</label>
            <input type="text" id="cargo" name="cargo" required><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br>
            <label for="telefone">Telefone:</label>
            <input type="text" id="telefone" name="telefone" required><br>
            <button type="submit">Adicionar Funcionário</button>
        </form>
    </div>
    
</body>

</html>